<div class="form-container">
  @if (!showOtpForm) {
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="form-card"
    >
      <h2>Enter your email</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="text" />
      </div>
      <button type="submit">Reset Password</button>
    </form>
  } @else {
    <form
      [formGroup]="otpForm"
      (ngSubmit)="onResetPassword()"
      class="form-card"
    >
      <h2>Reset Your Password</h2>
      <div class="form-group">
        <label for="otpCode">OTP Code</label>
        <input formControlName="otpCode" id="otpCode" type="text" />

        <label for="newPassword">newPassword</label>

        <input formControlName="newPassword" id="newPassword" type="text" />
      </div>
      <button type="submit">Confirm New Password</button>
    </form>
  }
</div>
